
<form action="/answer" data-turbo="false" class="d-flex flex-column align-items-center" style="width: 100%; margin-top:250px;">
  <h1>Stupid Coaching</h1>
  <label for="askAQuestion" class="form-label">What would you like to ask your coach?</label>
  <input id="askAQuestion" type="text" name="question" class="form-control w-50">
  <input type="submit" value="Ask!" class="btn btn-primary mt-3">
</form>

